<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="cat" class="com.ch.pojo.Cat"/>
    <bean id="dog" class="com.ch.pojo.Dog"/>

    <!--
    byName:会自动在容器上下文中查找，和自己对象set方法后面的值对应的bean  id
    byType:会自动在容器上下文中查找，和自己对象属性类型相同的bean   class
    -->
    <bean id="people" class="com.ch.pojo.People" autowire="byName">
        <property name="name" value="秦疆"/>
    </bean>
</beans>